/* http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css */
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}

html {
    background: #E3E3E3;
}

body {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.3em;
    color: #454545;
    width: 100%;
    max-width: 1400px;
    height: 100%;
}

strong                  { font-weight: bold; }
em                      { font-style: italic; }
p, ul, ol, dl, pre      { font-size: 1em; margin-bottom: 0.8em; }
ul, ol                  { margin-left: 2em; }
ul ul                   { margin-bottom: 0; }
h1, h2, h3, h4, h5      { color: #47697F; margin-top: 0em; margin-bottom: 0.5em; }

h1                      { font-size: 1.5em; }
h2                      { font-size: 1.3em; }
h3                      { font-size: 1.1em;  }
h4                      { font-size: 1em; }

a                       { color: #2D7BB2; text-decoration: none; outline: none; padding: 3px 0px;}
a:hover                 { color: #DDB45C; }
a:visited               { color: #67767F; }

pre, code               { font-size: 0.8em; }



/* base.html */
#header {
    margin: 25px 10px;
    padding: 0px 20px;
    color: #4F4F4F;
    position:relative;
}

#logo {
    color: #4F4F4F;
    text-shadow: #eee 1px 1px 2px;
    font-size: 2.5em; 
    letter-spacing: -2px; 
    font-weight:bold; 
    position:relative; 
}

#content {
    width: 600px;
    margin: auto;
}

#footer {
    padding-left: 5px;
}



/* generic styles */
.box {
    padding: 0.4em;
    border: 4px solid #AEAEAE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background: white;
}

.box img {
    max-width: 100%;
}



/* topics.html */
.topic_listing {
    margin-bottom: 15px;
    padding: 1em;
}

.topic_listing p {
    margin-bottom: 0px;
}



/* topic.html */
canvas {
    z-index: 0;
    position: absolute;
}

.container {
    position: absolute;
    display: none;
    z-index: 1;
}

.comment {
    width: 350px;
    padding: 0.7em;
    margin: auto;
}

.topic {
    width: 600px;
    padding: 1em;
    margin: auto;
}

.comment_body {
    overflow: auto;
}

.comment_info {
    float: right;
}

.comment_controls {
    visibility: hidden;
    font-size: 0.8em;
}

.comment_nav {
    width: 260px;
    margin: auto;
}

.comment_nav a, 
.comment_nav span {
    float: left;
    font-size: 1.2em;
    font-weight: normal;
    background-color: #59A5D1;
    color: white;
    text-align: center;
    visibility: hidden;
    padding: 0px;
}

.comment_nav a {
    width: 80px;
    cursor: pointer;
}

.comment_nav span {
    width: 100px;
}

a.prev {
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
}

a.next {
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
}

a.prev:hover,
a.next:hover {
    background-color: #408BB6;
}

a.prev:active,
a.next:active {
    background-color: #77C4EF;
}




