<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>forumtree | a visualization of hacker news</title>
    {% end %}
    <link type="text/css" href="/static/style.css" rel="stylesheet">
    {% block style %}{% end %}
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    {% block script %}{% end %}
</head>

<body>
    <a href="http://github.com/csytan/forumtree"><img style="position: absolute; top: 0; right: 0; border: 0; z-index:10" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
    <div id="header">
        <a href="/" id="logo">forumtree</a>
        <br>
        a visualization of <a href="http://news.ycombinator.com/news">Hacker News</a>
        <br>
        <span style="font-size: 0.9em; color: #555">
            (we use the <a href="http://api.ihackernews.com/">HN api</a>)
        </span>
    </div>
    <div id="content">
        {% block content %}{% end %}
    </div>
    <div id="footer">
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-24168189-1']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </div>
</body>

</html>
