{% extends "base.html" %}


{% block title %}
    <title>forumtree | error</title>
{% end %}


{% block style %}
    <style>
        #content {
            width: 100%;
            text-align: center;
        }
    </style>
{% end %}


{% block content %}
    <p>Opps! There was a problem accessing HN's API.</p>
    <p>Please try refreshing the page or visiting later.</p>
    
    <p>Here's a screenshot of what it should look like normally:</p>
    <img src="/static/screenshot.png" style="margin: auto;">
{% end %}
