{% extends "base.html" %}


{% block content %}
    {% for topic in topics %}
        <div class="topic_listing box">
            <h1>
                <a href="/{{ topic['id'] }}">{{ topic['title'] }}</a>
            </h1>
            <p style="text-align:right">
                {{ topic['commentCount'] }} comments,
                <a href="http://news.ycombinator.com/user?id={{ topic['postedBy'] }}" target="_blank">{{ topic['postedBy'] }}</a>,
                {{ topic['postedAgo'] }}
            </p>
        </div>
    {% end %}
{% end %}


