{% extends "base.html" %}


{% block title %}
    <title>forumtree | {{ topic['title'] }}</title>
{% end %}


{% block style %}
    <style>
        #content {
            width: 100%;
            max-width: 1500px;
        }
    </style>
{% end %}


{% block script %}
    <!--[if IE]>
        <script type="text/javascript" src="/static/excanvas.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/topic.js"></script>
    <script>
        jQuery(function($){
            $('#{{ topic["id"] }}')
            .find('.comment')
            .addClass('topic')
            .end()
            .initTopic({{ topic['graph'] }});
        });
    </script>
{% end %}



{% block content %}
    <noscript>
        <p style="text-align: center">Sorry, this site requires javascript</p>
    </noscript>
    
    <div id="{{ topic['id'] }}" class="container">
        <div class="topic comment box">
            <div class="comment_body">
                {% if topic['url'] %}
                    <a href="{{ topic['url'] }}" target="_blank">
                        <h1>{{ topic['title'] }}</h1>
                    </a>
                {% else %}
                    <h1>{{ topic['title'] }}</h1>
                {% end %}
                
                {{ escape(topic['text']) }}
            </div>
            <div class="comment_info">
                {{ topic['points'] }} points,
                <a href="http://news.ycombinator.com/user?id={{ topic['postedBy'] }}" target="_blank">{{ topic['postedBy'] }}</a>,
                {{ topic['postedAgo'] }}
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="comment_nav">
            <a class="prev">«</a>
            <span class="page_num"></span>
            <a class="next">»</a>
        </div>
    </div>
    
    {% for comment in topic['all_comments'] %}
        <div id="{{ comment['id'] }}" class="container">
            <div class="comment box">
                <div class="comment_body">
                    {% raw comment['comment'] %}
                </div>
                <div class="comment_info">
                    {{ comment['points'] }} points,
                    <a href="http://news.ycombinator.com/user?id={{ comment['postedBy'] }}" target="_blank">{{ comment['postedBy'] }}</a>,
                    {{ comment['postedAgo'] }}
                </div>
                <div style="clear:both"></div>
            </div>
            <div class="comment_nav">
                <a class="prev">«</a>
                <span class="page_num"></span>
                <a class="next">»</a>
            </div>
        </div>
    {% end %}
{% end %}
